html{

    font-size: 10px;
    background-image: url(../img/17515.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

body{

    margin: 0;
    padding: 0;
}


canvas {

    background-color: white;
    box-sizing: border-box;
    padding: 0;
    margin: auto;
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    border-radius: 1rem;
    border: 1px solid white;

}